$dark-color: #7F7260;
$dark-color-tint: #7F6F57;
$light-color: #FFEFD9;
$medium-color: #CCB79A;
$medium-color-tint: #FFE5C0;
$body-background-color: #fffcf8;
$dark-text: #2E2923;
$footer-color:  #d6cfca;
$button-active-color: #f5ede2;
